<nb-card>
  <nb-card-header class="text-center">Sum Insured</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-5">
        <nb-card>
          <nb-card-header>Please Add Variant Names</nb-card-header>
          <nb-card-body class="text-left">
            <form [formGroup]="variantName">
              <div formArrayName="variants">
                <div *ngFor="let variant of variants.controls; let i = index">
                  <div [formGroupName]="i">
                    <input type="text" nbInput formControlName="name" />
                    <button
                      (click)="removeVariant(i)"
                      nbButton
                      status="danger"
                      *ngIf="variants.controls.length > 1"
                    >
                      Remove
                    </button>
                    <button
                      type="button"
                      (click)="addVariantName()"
                      nbButton
                      status="primary"
                      *ngIf="i + 1 == variants.controls.length"
                    >
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-7">
        <nb-card>
          <nb-card-header>Please add Variants</nb-card-header>
          <nb-card-body class="text-left">
            <form [formGroup]="baseSum">
              <div formArrayName="sum">
                <div *ngFor="let baseSum of sum.controls; let i = index">
                  <div [formGroupName]="i">
                    <input type="text" nbInput formControlName="title" />
                    <button
                      (click)="removeSum(i)"
                      nbButton
                      status="danger"
                      *ngIf="sum.controls.length > 1"
                      class="ml-3"
                    >
                      Remove
                    </button>
                    <button
                      type="button"
                      (click)="addBaseSum()"
                      nbButton
                      status="primary"
                      *ngIf="i + 1 == sum.controls.length"
                      class="ml-3"
                    >
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="col-12">
      <nb-card>
        <nb-card-header>Mapping</nb-card-header>
        <nb-card-body>
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header
                >Expand to Configure the default
                mapping</nb-accordion-item-header
              >
              <nb-accordion-item-body class="row justify-content-center">
                <table class="centerd">
                  <tr>
                    <td></td>
                    <th scope="col" *ngFor="let si of baseSum.value.sum">
                      {{ si.title }}
                    </th>
                  </tr>
                  <tr *ngFor="let item of variantName.value.variants">
                    <th scope="row">{{ item.name }}</th>
                    <td *ngFor="let si of baseSum.value.sum">
                      <nb-checkbox
                        *ngIf="si.title && item.name"
                        status="basic"
                        [checked]="true"
                      ></nb-checkbox>
                    </td>
                  </tr>
                </table>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header class="text-center">Addons</nb-card-header>
  <nb-card-body class="text-left">
    <form [formGroup]="addonsForm">
      <div formArrayName="addons">
        <div *ngFor="let addon of addons.controls; let i = index">
          <div [formGroupName]="i">
            <input
              type="text"
              nbInput
              formControlName="name"
              style="min-width: 75%"
            />
            <button
              (click)="removeAddOn(i)"
              nbButton
              status="danger"
              *ngIf="addons.controls.length > 1"
              class="ml-3"
            >
              Remove
            </button>
            <button
              type="button"
              (click)="addAddon()"
              nbButton
              status="primary"
              *ngIf="i + 1 == addons.controls.length"
              class="ml-3"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header class="text-center">Variant Type</nb-card-header>
  <nb-card-body>
    <nb-select multiple placeholder="Select Multiple Variant" class="mw-80">
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header class="text-center">Room Type</nb-card-header>
  <nb-card-body>
    <nb-select
      multiple
      placeholder="Select Showcase"
      [(selected)]="selectedItem"
      [compareWith]="compareById"
      class="mw-80"
    >
      <nb-option value="">Option empty</nb-option>
      <nb-option value="0">Option 0</nb-option>
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header class="text-center">Applicability</nb-card-header>
  <nb-card-body>
    <nb-select
      multiple
      placeholder="Select Showcase"
      [(selected)]="selectedItem"
      [compareWith]="compareById"
      class="mw-80"
    >
      <nb-option value="">Option empty</nb-option>
      <nb-option value="0">Option 0</nb-option>
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>
  </nb-card-body>
</nb-card>
