<div class="card" style="width: 18rem">
  <!-- <img class="card-img-top" [src]="product.img" alt="Card image cap" /> -->
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">Status: {{ product.status }}</p>
    <p class="card-text">Version: {{ product.version }}</p>
    <p class="card-text">Official Name: {{ product.officialName }}</p>
    <p class="card-text">Created By: {{ product.createdBy }}</p>
    <p class="card-text">Approved By: {{ product.approvedBy }}</p>
  </div>
</div>
