<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

<div class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card>
    <nb-card-body>
      <nb-stepper
        orientation="vertical"
        disableStepNavigation="true"
        (stepChange)="handleStepChange($event)"
        [selectedIndex]="0"
      >
        <nb-step label="Product Details">
          <ngx-product-details></ngx-product-details>
          <button nbButton disabled nbStepperNext>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step label="Types & Variants">
          <ngx-types-variants></ngx-types-variants>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step label="General Conditions">
          <ngx-general-conditions></ngx-general-conditions>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step label="Coverage">
          <span *ngIf="selectedIndex == 3">
            <ngx-coverage></ngx-coverage>
          </span>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step label="Exclusion">
          <ngx-exclusions></ngx-exclusions>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton disabled nbStepperNext>next</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
</div>
