<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

<div class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card>
    <nb-card-body>
      <nb-stepper orientation="vertical" selectedIndex="3">
        <nb-step label="Product Details">
          <ngx-product-details></ngx-product-details>

          <button nbButton disabled nbStepperNext>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step label="Types & Variants">
          <ngx-types-variants></ngx-types-variants>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step label="General Conditions">
          <ngx-general-conditions></ngx-general-conditions>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step label="Coverage">
          <ngx-coverage></ngx-coverage>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton disabled nbStepperNext>next</button>
        </nb-step>
        <nb-step label="Exclusion">
          <h3>Step content #5</h3>
          <p class="lorem">
            Proin varius accumsan semper. Praesent consequat tincidunt sagittis.
            Curabitur egestas sem a ipsum bibendum, sit amet fringilla orci
            efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu
            pulvinar magna, quis viverra ex.
          </p>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton disabled nbStepperNext>next</button>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
</div>
