<div class="row">
  <div class="col-10"></div>
  <div class="col-2">
    <a [routerLink]="['../coverage']">
      <button nbButton status="primary">
        <nb-icon icon="plus-outline" pack="eva"></nb-icon> Create New
      </button>
    </a>
  </div>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Codes</th>
      <th scope="col">Type</th>
      <th scope="col">Category</th>
      <th scope="col">Covered</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
